<p class = "center" >   
<img src = './img/Welcome.png'/  >
</p>
<p class = "center">
    Welcome to hell
</p>
<script>
    $("#firstPage").addClass("active");

    function deletePost(id){
       $.ajax({
                    method:"POST",
                    url:'/',
                    data: {
                        id: id,
                    },
                    success: function( response ) {
                        console.log(response); 
                       
                    }      
                });   
        swal("This message is deletted!", "", "success" )  ;            
    }
</script>
<ul class ="blog" onsubmit="return deletePost();" id ="blog"> 
   <% data.forEach(function(post){ %>   
    <li>
       <h3><%- post.UserName %>  <small>(<%- post.Email %>)</small></h3>
       <button type="button" id="" class="btn" onclick= "deletePost('<%- post._id %>')" > <span class="glyphicon glyphicon-remove"></span></button>
       
       <p class="post">
        <%- post.MessageText %>   
       </p>
       <p><small>
           <%- post._id.getTimestamp().toString() %></small></p>
    </li>
    
    <% }); %>
</ul>